<div class="container">
  <div class="col-12">

    <table class="table table-dark table-hover" style="border: 2px solid green; margin-top: 40px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Broj</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let korisnik of korisnici | async; let i = index">
            <td> {{(i+1)}}. </td>

            <td>{{korisnik.ime}}</td>

            <td>{{korisnik.prezime}}</td>

            <td>{{korisnik.broj}}</td>

            <td style="text-align: right;">
              <button class="btn btn-danger" (click)="delKorisnik(i)">Delete</button>
            </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
