<div class="container" style="margin-top: 40px;">
  <div class="col-12">
    <div class="form-group">
      <label for="imeInput" style="color: white;">Ime</label>
      <input type="text" class="form-control" id="imeInput"  placeholder="Unesite ime" #ime [(ngModel)]="imeInput">
    </div>
    <div class="form-group">
      <label for="prezimeInput" style="color: white;">Prezime</label>
      <input type="text" class="form-control" id="prezimeInput"  placeholder="Unesite prezime" #prezime [(ngModel)]="prezimeInput">
    </div>
    <div class="form-group">
      <label for="brojInput" style="color: white;">Broj</label>
      <input type="text" class="form-control" id="brojInput"  placeholder="Unesite broj" #broj [(ngModel)]="brojInput">
    </div>

    <div class="form-group" style="text-align: center;">
    <button class="btn btn-outline-success" style="width: 250px;" (click)="addKorisnik(ime.value, prezime.value, broj.value) " [routerLink]="['/']">Dodaj</button>
    </div>


  </div>
</div>

